// Fonts

$font-italianno: 'Italianno', cursive;

$font-montserrat: 'Montserrat', sans-serif;

//Colors

$dark-green: #9ec3a8;

$light-green: #edf3ea;

$hover-green: #81a089;

$black: #000000;

$white: #ffffff;
